html {
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  color: #121212;
  line-height: 1.485;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, p, figure {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 375px) {
  .l-grid-container {
    display: grid;
    grid-template-columns: 5.3% 1fr 5.3%;
    grid-template-rows: 21.5vh auto 1fr minmax(69.1vh, auto) 15vh;
    min-height: 100vh;
    max-width: 100vw;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .l-grid-container {
    display: grid;
    grid-template-columns: 4.79vw 1fr 4.79vw;
    grid-template-rows: 21.7vh auto 1fr minmax(41.5vh, auto) 14.9vh;
    min-height: 100vh;
    max-width: 100vw;
  }
}
@media screen and (min-width: 835px) {
  .l-grid-container {
    display: grid;
    grid-template-columns: 6.25% 1fr 6.25% 19.1vw;
    grid-template-rows: 21.7vh auto auto 64.9vh 15vh;
    min-height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  .l-header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #FFF7EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .l-header__logo {
    margin-bottom: 4vh;
    text-align: center;
  }
  .l-header__logo a {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    color: #707070;
  }
  .l-button__tb {
    position: absolute;
    right: 0.8vw;
    top: 0.8vh;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    color: #707070;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .l-header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #FFF7EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .l-header__logo {
    margin-bottom: 3.8vh;
    text-align: center;
    align-items: center;
  }
  .l-header__logo a {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    color: #707070;
  }
  .l-button__tb {
    position: absolute;
    right: 2.5vw;
    top: 2vh;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 34px;
    color: #707070;
  }
}
@media screen and (min-width: 835px) {
  .l-header {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #FFF7EF;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }
  .l-header__logo {
    margin-left: 5.54%;
  }
  .l-header__logo a {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 64px;
    color: #707070;
  }
  .l-button__tb {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .l-mainvisual {
    grid-row: 2/3;
    grid-column: 1/4;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    aspect-ratio: 375/285;
  }
  .l-mainvisual picture {
    width: 100%;
    height: 100%;
  }
  .l-mainvisual img {
    grid-row: 2/3;
    grid-column: 1/4;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 10;
  }
  .l-mainvisual__title {
    top: 42.8%;
    left: 6.6%;
    z-index: 20;
    position: absolute;
    color: #FFFFFF;
  }
  .l-mainvisual__title > h2 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 100%;
  }
  .l-card__block {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .l-section__main {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .l-section__main:nth-of-type(2n) {
    margin-top: 0;
  }
  .l-section__image img {
    grid-column: 2/3;
    justify-self: start;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 335/642;
    width: 100%;
  }
  .l-section__left--title,
.l-section__right--title {
    left: 4%;
    top: 1.3vh;
    z-index: 50;
    position: absolute;
    color: #EAEAEA;
    font-size: 41px;
    font-weight: 700;
    font-family: "Roboto";
    white-space: nowrap;
  }
  .l-section__right--title {
    color: #FFFFFF;
  }
  .l-section__border {
    margin-top: 19.34px;
    border-bottom: 4px solid #FFF;
    width: 33.89px;
  }
  .l-container__Sp {
    width: 85.3vw;
    z-index: 60;
    position: absolute;
    bottom: 0;
  }
  .l-card__mainSp {
    grid-column: 2/3;
    align-items: stretch;
    flex-grow: 1;
    padding: 16px;
    min-height: 11.3%;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    z-index: 70;
  }
  .l-card__mainSp:nth-of-type(n+1) {
    margin: 0 16px 16px 16px;
  }
  .l-card__textSp {
    display: flex;
    padding: 0 1.6% 1.6% 1.6%;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
    color: #3C2A10;
  }
  .l-card__titleSp {
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
    color: #3C2A10;
  }
  .l-card__main {
    display: none;
  }
  .l-card__textPc {
    display: none;
  }
  .l-card__textTb {
    display: none;
  }
  h3 {
    display: none;
  }
  .l-map__wrapper {
    grid-row: 4/5;
    grid-column: 1/4;
    pointer-events: none;
    position: relative;
    height: 100%;
    display: flex;
  }
  .l-rectangle44 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
  }
  .l-rectangle44 img {
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 20;
    opacity: 0.5;
  }
  .l-rectangle43 {
    grid-row: 4/5;
    grid-column: 1/4;
    height: 41.5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .l-rectangle43 img {
    width: 100%;
    height: 150%;
    z-index: 30;
  }
  .l-map__wrapper--small {
    min-height: 41.5vh;
    position: relative;
  }
  .l-map__textContainer {
    grid-row: 4/5;
    grid-column: 1/4;
    height: 59.4vh;
    top: 0%;
    left: 4vw;
    z-index: 110;
    display: block;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    margin: 4.2vh 4vw 5.7vh 0;
  }
  .l-map__textContainer h2 {
    overflow-wrap: break-word;
    justify-self: start;
    z-index: 110;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
  }
  .l-map__border {
    grid-row: 4/5;
    grid-column: 2/3;
    border-bottom: 2px solid #FFF;
    width: 75px;
    z-index: 110;
    margin-top: 1.5vh;
    margin-bottom: 1.4vh;
  }
  .l-map__textContainer p {
    justify-self: start;
    align-items: stretch;
    z-index: 110;
    font-weight: 700;
    font-size: 14px;
    line-height: 33px;
    color: #FFFFFF;
    white-space: wrap;
    margin-bottom: 4vh;
  }
  #l-map {
    grid-row: 4/5;
    grid-column: 1/4;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .l-mainvisual {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 285px;
    aspect-ratio: 834/285;
  }
  .l-mainvisual picture {
    width: 100%;
    height: 100%;
  }
  .l-mainvisual img {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 10;
  }
  .l-mainvisual__title {
    left: 10.3%;
    z-index: 20;
    position: absolute;
    color: #FFFFFF;
  }
  .l-mainvisual__title > h2 {
    font-size: 36px;
    color: #FFFFFF;
  }
  .l-card__block {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    position: relative;
    gap: 4.2vw;
    width: 100%;
    justify-content: center;
  }
  .l-section__main {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    position: relative;
    width: 100%;
  }
  .l-section__image img {
    grid-column: 2/3;
    justify-self: start;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 41.6vh;
    margin: 4.79vw 0;
    aspect-ratio: 357/761;
    width: 100%;
  }
  .l-section__main img:nth-of-type(2n) {
    padding-right: 4.79vw;
  }
  .l-section__left--title,
.l-section__right--title {
    left: 11px;
    top: 54px;
    z-index: 50;
    position: absolute;
    color: #EAEAEA;
    font-size: 44px;
    font-weight: 700;
    font-family: "Roboto";
    white-space: nowrap;
  }
  .l-section__right--title {
    color: #FFFFFF;
  }
  .l-section__border {
    margin-top: 2.55vh;
    border-bottom: 4px solid #FFF;
    width: 35.94px;
  }
  .l-card__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 60;
    bottom: 5%;
    color: #3C2A10;
    position: absolute;
    flex-grow: 1;
  }
  .l-container {
    grid-column: 2/3;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 4.2vw;
  }
  .l-container:nth-of-type(2n) {
    margin-top: 0;
  }
  .l-card__main {
    grid-column: 2/3;
    align-items: stretch;
    flex-grow: 1;
    margin: 1.6%;
    min-height: 15.4vh;
    width: 42vw;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
  }
  .l-card__main:nth-of-type(n+1) {
    margin: 0 1.6% 1.6% 1.6%;
  }
  .l-card__textPc {
    display: none;
  }
  .l-card__textTb {
    display: flex;
    padding: 0 1.6% 1.6% 1.6%;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400;
  }
  .l-card__titleSp,
.l-card__textSp {
    display: none;
  }
  h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    padding: 1.6%;
  }
  .l-map__wrapper {
    grid-row: 4/5;
    grid-column: 1/4;
    pointer-events: none;
    position: relative;
    height: 41.5vh;
    display: flex;
  }
  .l-rectangle44 {
    position: absolute;
    width: 100%;
    height: 41.5vh;
    overflow: hidden;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
  }
  .l-rectangle44 img {
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 20;
    opacity: 0.5;
  }
  .l-rectangle43 {
    grid-row: 4/5;
    grid-column: 1/4;
    height: 41.5vh;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .l-rectangle43 img {
    width: 100%;
    height: 150%;
    z-index: 30;
  }
  .l-map__wrapper--small {
    min-height: 41.5vh;
    position: relative;
  }
  .l-map__textContainer {
    grid-row: 4/5;
    grid-column: 1/4;
    height: 33.5vh;
    top: 0%;
    left: 4.2vw;
    z-index: 110;
    display: block;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    margin: 4.2% 2.9% 4% 0;
  }
  .l-map__textContainer h2 {
    overflow-wrap: break-word;
    justify-self: start;
    z-index: 110;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
  }
  .l-map__border {
    grid-row: 4/5;
    grid-column: 2/3;
    border-bottom: 2px solid #FFF;
    width: 75px;
    z-index: 110;
    margin-top: 1.5vh;
    margin-bottom: 1.4vh;
  }
  .l-map__textContainer p {
    justify-self: start;
    align-items: stretch;
    z-index: 110;
    font-weight: 700;
    font-size: 14px;
    line-height: 33px;
    color: #FFFFFF;
    white-space: wrap;
    margin-bottom: 4vh;
  }
  #l-map {
    grid-row: 4/5;
    grid-column: 1/4;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    height: 41.5vh;
    overflow: hidden;
  }
}
@media screen and (min-width: 835px) {
  .l-mainvisual {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-height: 530px;
    aspect-ratio: 1553/530;
  }
  .l-mainvisual picture {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
  }
  .l-mainvisual .l-mainvisual img {
    grid-row: 2/3;
    grid-column: 1/4;
    max-width: none;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 10;
    width: 100%;
  }
  .l-mainvisual__title {
    left: 5.54%;
    z-index: 20;
    position: absolute;
    font-size: 40px;
    color: #FFFFFF;
  }
  .l-mainvisual__title > h2 {
    font-size: 40px;
    color: #FFFFFF;
  }
  .l-card__block {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    position: relative;
    width: 100%;
    gap: 4.8%;
    align-items: stretch;
  }
  .l-section__main {
    grid-column: 2/3;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 10;
    position: relative;
    width: 100%;
  }
  .l-section__image {
    align-items: stretch;
    width: 100%;
    min-height: 100%;
  }
  .l-section__image img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    min-height: 1197px;
    padding: 120px 0;
    height: 100%;
  }
  .l-section__main img:nth-of-type(2n) {
    padding-right: 120px;
  }
  .l-section__left--title,
.l-section__right--title {
    left: 10px;
    top: 144px;
    z-index: 50;
    position: absolute;
    color: #EAEAEA;
    font-size: 51.7%;
    font-weight: 700;
    font-family: "Roboto";
    white-space: nowrap;
    line-height: 1.7;
  }
  .l-section__right--title {
    color: #FFFFFF;
  }
  .l-section__border {
    border-bottom: 4px solid #FFF;
    width: 63px;
  }
  .l-container {
    display: grid;
    height: auto;
    z-index: 60;
    bottom: 10%;
    color: #3C2A10;
    position: relative;
    flex-grow: 1;
    align-items: stretch;
  }
  .l-container:nth-of-type(2n) {
    margin-top: 0;
  }
  .l-card__main {
    grid-column: 2/3;
    align-items: stretch;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
  }
  .l-card__main:nth-of-type(n+1) {
    margin: 0 1.6% 1.6% 1.6%;
  }
  .l-card__textPc {
    display: flex;
    padding: 0 1.6% 1.6% 1.6%;
    flex-grow: 1;
  }
  .l-card__textTb {
    display: none;
  }
  .l-card__mainSp {
    display: none;
  }
  h3 {
    display: inline-block;
    font-size: 24px;
    padding: 1.6%;
  }
  .l-map__wrapper {
    grid-row: 4/5;
    grid-column: 1/4;
    pointer-events: none;
    position: relative;
    height: 64.9vh;
    display: flex;
  }
  .l-rectangle44 {
    grid-row: 4/5;
    grid-column: 1/4;
    position: absolute;
    width: 100%;
    height: 64.9vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .l-rectangle44 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 20;
    opacity: 0.5;
  }
  .l-rectangle43 {
    grid-row: 4/5;
    grid-column: 1/4;
    min-width: 49.4vw;
    height: 64.9vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
  }
  .l-rectangle43 img {
    width: 100%;
    height: 100%;
    z-index: 30;
  }
  .l-map__wrapper--small {
    height: 64.9vh;
    position: relative;
  }
  .l-map__textContainer {
    height: 64.9vh;
    left: 6.25vw;
    z-index: 110;
    display: block;
    position: absolute;
    overflow-wrap: break-word;
    width: clamp(48.3%, 100vw, 50.4%);
    padding: 8.6% 0 11.5% 0;
    overflow: hidden;
  }
  .l-map__textContainer h2 {
    overflow-wrap: break-word;
    justify-self: start;
    z-index: 110;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
  }
  .l-map__border {
    grid-row: 4/5;
    grid-column: 2/3;
    border-bottom: 2px solid #FFF;
    width: 75px;
    z-index: 110;
    margin-top: 5.05%;
    margin-bottom: 5.85%;
  }
  .l-map__textContainer p {
    justify-self: start;
    align-items: stretch;
    z-index: 110;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    color: #FFFFFF;
    white-space: wrap;
    margin-bottom: 7.5vh;
  }
  #l-map {
    grid-row: 4/5;
    grid-column: 1/4;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    height: 64.9vh;
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .l-drawer-menu {
    top: 8px;
    position: absolute;
    right: 43px;
    font-size: 0px;
  }
  .l-drawer-menu::before,
.l-drawer-menu::after {
    content: "";
    width: 45.25px;
    height: 6px;
    position: absolute;
    background-color: #707070;
  }
  .l-drawer-menu::before {
    position: absolute;
    top: 20px;
    left: 0%;
    right: 2.5vw;
    transform: rotate(-135deg);
  }
  .l-drawer-menu::after {
    position: absolute;
    top: 20px;
    left: 0%;
    right: 2.5vw;
    transform: rotate(-45deg);
  }
  .l-aside {
    background-color: #F2EDE9;
    transition: all 300ms 0s ease;
    width: 87.4%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    left: 100%;
  }
  .l-aside.is-open {
    left: 12.5vw;
  }
  body.is-open {
    position: fixed;
    overflow: hidden;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5019607843);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .overlay.is-open {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  .l-aside__container {
    position: absolute;
    top: 17.8vh;
  }
  .l-aside-list {
    padding-left: 14%;
    font-size: 24px;
    list-style: none;
    font-weight: 700;
    color: #707070;
  }
  .l-aside-list__item {
    padding-left: 20vw;
    padding-top: 4vh;
    padding-bottom: 6vh;
    font-size: 20px;
    font-weight: 400;
    color: #707070;
  }
  .l-aside-list__item > li {
    padding: 0.7vh;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .l-drawer-menu {
    top: 29px;
    position: absolute;
    left: 28.5vw;
    font-size: 0px;
  }
  .l-drawer-menu::before,
.l-drawer-menu::after {
    content: "";
    width: 45.25px;
    height: 6px;
    position: absolute;
    background-color: #707070;
  }
  .l-drawer-menu::before {
    position: absolute;
    top: 20px;
    left: 0%;
    right: 2.5vw;
    transform: rotate(-135deg);
  }
  .l-drawer-menu::after {
    position: absolute;
    top: 20px;
    left: 0%;
    right: 2.5vw;
    transform: rotate(-45deg);
  }
  .l-aside {
    background-color: #F2EDE9;
    transition: all 300ms 0s ease;
    width: 44%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    left: 100%;
  }
  .l-aside.is-open {
    left: 60vw;
  }
  body.is-open {
    position: fixed;
    overflow: hidden;
  }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5019607843);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .overlay.is-open {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  .l-aside__container {
    position: absolute;
    top: 17.8vh;
  }
  .l-aside-list {
    padding-left: 4.6vw;
    font-size: 24px;
    list-style: none;
    font-weight: 700;
    color: #707070;
  }
  .l-aside-list__item {
    padding-left: 6.6vw;
    padding-top: 3.2vh;
    padding-bottom: 4.8vh;
    font-size: 20px;
    font-weight: 400;
    color: #707070;
  }
  .l-aside-list__item > li {
    padding: 0.7vh;
  }
}
@media screen and (min-width: 835px) {
  .l-aside {
    grid-row: 1/5;
    grid-column: 4/5;
    background-color: #F2EDE9;
    padding-left: 12.5%;
  }
  .l-button__menu {
    font-size: 34px;
    font-family: "Roboto";
    font-weight: 700;
    color: #707070;
    padding-top: 8.4vh;
    padding-bottom: 9vh;
  }
  .l-aside-list {
    font-size: 24px;
    list-style: none;
    font-weight: 700;
    color: #707070;
  }
  .l-aside-list__item {
    font-size: 20px;
    font-weight: 400;
    padding-top: 3.2vh;
    padding-left: 0.66vw;
    padding-bottom: 4.8vh;
    color: #707070;
  }
  .l-aside-list__item > li {
    padding: 0.7vh;
  }
}
@media screen and (max-width: 375px) {
  .l-footer {
    grid-row: 5/6;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .l-footer__image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .l-footer__menu {
    z-index: 30;
  }
  .l-footer__menu ul {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    left: calc(50% - 108px);
    top: 1.6vh;
    z-index: 60;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .l-footer__menu li {
    color: #FFFFFF;
    list-style: none;
    z-index: 60;
  }
  .l-footer__border {
    z-index: 60;
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    margin: 0 6px;
  }
  .l-copyright {
    color: #FFFFFF;
    position: absolute;
    z-index: 70;
    font-size: 14px;
    white-space: nowrap;
    top: 9.7vh;
    text-align: center;
  }
  .l-copyright p {
    padding-bottom: 27vh;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .l-footer {
    grid-row: 5/6;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .l-footer__image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .l-footer__menu {
    z-index: 30;
  }
  .l-footer__menu ul {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    left: calc(50% - 120px);
    top: 4.1vh;
    z-index: 60;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .l-footer__menu li {
    color: #FFFFFF;
    list-style: none;
    z-index: 60;
  }
  .l-footer__border {
    z-index: 60;
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    margin: 0 6px;
  }
  .l-copyright {
    color: #FFFFFF;
    position: absolute;
    z-index: 70;
    font-size: 14px;
    white-space: nowrap;
    top: 6.1vh;
    text-align: center;
  }
  .l-copyright p {
    padding-bottom: 27vh;
  }
}
@media screen and (min-width: 835px) {
  .l-footer {
    grid-row: 5/6;
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .l-footer__image > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .l-footer__menu {
    z-index: 30;
  }
  .l-footer__menu ul {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    left: calc(50% - 120px);
    top: 4.1vh;
    z-index: 60;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .l-footer__menu li {
    color: #FFFFFF;
    list-style: none;
    z-index: 60;
  }
  .l-footer__border {
    z-index: 60;
    width: 2px;
    height: 20px;
    background-color: #FFFFFF;
    margin: 0 6px;
  }
  .l-copyright {
    color: #FFFFFF;
    position: absolute;
    z-index: 70;
    font-size: 14px;
    white-space: nowrap;
    top: 6.1vh;
    text-align: center;
  }
  .l-copyright p {
    padding-bottom: 27vh;
  }
}
@media screen and (max-width: 375px) {
  .button {
    position: absolute;
    color: #707070;
    font-weight: 700;
    width: 24%;
    height: 4.6vh;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 10px;
    left: 69vw;
    background: linear-gradient(45deg, #F2EDE9, #DED8D3);
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .button {
    color: #707070;
    font-weight: 700;
    width: 13.6vw;
    height: 4.6vh;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-left: 0.9vw;
    background: linear-gradient(45deg, #F2EDE9, #DED8D3);
  }
}
@media screen and (min-width: 835px) {
  .button {
    color: #707070;
    font-weight: 700;
    width: 7.08vw;
    height: 4.6vh;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 10px;
    margin-left: 0.9vw;
    background: linear-gradient(45deg, #F2EDE9, #DED8D3);
  }
}
@media screen and (max-width: 375px) {
  .c-form {
    padding-bottom: 3.9vh;
  }
  .search {
    width: 57.6vw;
    height: 4.6vh;
    position: absolute;
    left: 8.2%;
    border: 1px solid #707070;
    border-radius: 10px;
    background: url(../images/mushimegane.png) no-repeat;
    background-position: 8px center;
    background-size: 16px 16px;
    background-color: #FFFFFF;
    padding-left: 32px;
    line-height: 4, 6vh;
    vertical-align: middle;
  }
  input[type=text] {
    color: #707070;
  }
}
@media screen and (min-width: 376px) and (max-width: 834px) {
  .c-form {
    padding: 0 1.9vw;
  }
  .search {
    width: 54.6vw;
    height: 4.6vh;
    border: 1px solid #707070;
    border-radius: 10px;
    background: url(../images/mushimegane.png) no-repeat;
    background-position: 8px center;
    background-size: 16px 16px;
    background-color: #FFFFFF;
    padding-left: 32px;
    line-height: 4.6vh;
    vertical-align: middle;
  }
  input[type=text] {
    color: #707070;
  }
}
@media screen and (min-width: 835px) {
  .c-form {
    padding: 0 1.9vw;
  }
  .search {
    width: 25.5vw;
    height: 4.6vh;
    border: 1px solid #707070;
    border-radius: 10px;
    background: url(../images/mushimegane.png) no-repeat;
    background-position: 8px center;
    background-size: 16px 16px;
    background-color: #FFFFFF;
    padding-left: 32px;
    line-height: 4.6vh;
    vertical-align: middle;
  }
  input[type=text] {
    color: #707070;
  }
}
/*# sourceMappingURL=style.css.map */